/* Consolidated CSS bundle for Andhera components */
@import "../components/breadcrumb/Breadcrumb.css";
@import "../components/checkbox/CheckboxGroup.css";
@import "../components/stat-card/statsCard.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


input[type="radio"]:active + span::after {
  transform: scale(0.85);
}

/* Smooth transitions */
.tb-transition {
  @apply transition-all duration-200 ease-in-out;
}